*{

}

a:any-link{
    color:green;
    text-decoration-color: aqua;
    text-decoration-line: line-through;
}

a[title]{
    color: red
}
a[href="https://nellysugu.com]"{
    color: purple;
}

a{
    color: black
}